
<!-- <img src="assets/images/coverimg.jpg" /> -->
<div class="bg_cover">
  <div class="bg-overlay"></div>
</div>
<div class="auth-box-main">
  <div class="auth-img-box">
    <span class="material-icons-outlined material-icon-font-outlined">
      logout
    </span>
    <h6>{{ "FORGOT_PASSWORD_PAGE.LINK_ONE" | translate }}</h6>
  </div>

  <div class="auth-img-box">
    <span class="material-icons-outlined material-icon-font-outlined">
      screen_search_desktop
    </span>
    <h6>{{ "FORGOT_PASSWORD_PAGE.LINK_TWO" | translate }}</h6>
  </div>

  <div class="auth-img-box">
    <span class="material-icons-outlined material-icon-font-outlined">
      connect_without_contact
    </span>
    <h6>{{ "FORGOT_PASSWORD_PAGE.LINK_THREE" | translate }}</h6>
  </div>
</div>
