<div class="article-details">
  <div class="article-details__img">
  </div>
  <div class="container">
    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title><h2>How to improve chances to be Au pair</h2></mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

     
    <div class="cards-container">
      <mat-card>
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <br>          
              <p class="MB-4">
                There is a big competition among many candidates to be an Au pair. Especially when you come from a country with less powerfull passport its not going to be easy. Here are some of the things that could improve your chances among others.
              </p>
             
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/interview1.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>
    
    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Education & Experience</mat-card-title>
        </mat-card-header>      
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <p class="MB-4">
              Having an education in child care related field  can improve the chances. For example an education in childcare or related fields helps. Education to be a teacher or health care professional could also help. Educational background in IT or technical fields can reduce the chance of being an Au pair. Also many families do not prefer Au pairs with only basic education.
              </p>
              <p class="MB-4">
              Work experience in the above fields increases your chances. So try to get some experience in those fields.     
                </p>
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/interview3.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>
    
    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>First Aid diploma</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p class="MB-4">
            Safety of children is important. Some families prefer Au pairs who can handle emergency with the kids. If you have a diploma or a certificate in First Aid it’s an added advantage. You could get such a certificate by doing 1- or 2-day First aid course.       
         </p>
        </mat-card-content>  
      </mat-card>
    </div>
    
    
   


    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>CV & Video Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p class="MB-4">
            A good CV that depicts your education, career and your interests it could help. Don’t reuse the exact CV that you use for finding job in home country. Modify it so that a family abroad can also understand the contents and get their attention.
            </p>
            <p class="MB-4">
              Having a good Video profile can improve your chances. It can help you stand out among other applicants. Make sure you make the video interesting for others to watch it. Having children in video can also help.
              </p>
        </mat-card-content>  
      </mat-card>
    </div>


    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Join Au pair websites and Facebook groups</mat-card-title>
        </mat-card-header>      
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <p class="MB-4">
                There are many Au pair websites. NannyAupair.com is one of them. Create a profile and complete it fully.          
              </p>
              <p class="MB-4">
                Join Facebooks that can help in finding family. Make a good post about yourself. There are lot of topics related to Au pairs that are discussed in an Au pair group. So it helps to improve your knowledge about Au pairing     
              </p>
              <p class="MB-4">
                Having good photos with children is good to have for Facebook and Au pair websites. You may need permission from the children’s parents. Picture with family members is also good to have              </p>
              <p class="MB-4">
                If you see a job offer or post from a family you will  have to reply to it.  Do not copy paste same reply to all families. First read and understand what they are looking for. Then make a custom response according to that family and their requirements. Try to match your skills to the requirements of the family.              
              </p>
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/interview3.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>Learn new language, driving, biking, swimming skills</mat-card-title>
        </mat-card-header>
        <mat-card-content> 
          <p class="MB-4">
            Learning at least the basic or medium level of language like German or French etc can improve the chances of being an Au pair in some countries.             </p> 
          <p class="MB-4">
          Some families need an Au pair who can drop the children at school by car. In such cases the driving skill can help. Having an international driving license can improve the chances with few families. Some families prefer an Au pair who can bike and some prefer Au pairs who can swim.          
          </p>
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>Collect Documents & References</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p class="MB-4">
            The visa processing requires lot of documents. A passport is the basic document you need to have. Apart from that, depending on the destination country you will need documents like a birth certificate, certificate to prove you are not married, educational certificate etc. If you have all the documents, you can inform them about that in your CV. An Au pair with all documents ready has more chances over someone who is yet to get those documents.           
         </p>
            <p class="MB-4">
              Most families and agencies ask for references. They want to know from your family or friends or teacher or employer about your skills and behavior. So you may have to provide the Names and contact details of them. Many times they call your references to ask about it. So choose carefully who are the right persons who could provide a good reference for you.              
             </p>
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>Contact Au pair Agencies</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p class="MB-4">
            Try to contact Au pair agencies that can help in finding family. In countries like Netherlands, USA and Switzerland an Au pair agency in Mandatory.  In other countries it is not mandatory to have an agency but there are agencies that can help in finding family. Make sure you do not contact fake or scam agencies.
           </p>
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>Know Au pair rules</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p class="MB-4">
            Au pair program is available in countries like  USA, Australia, Canada, New Zealand and most European countries. Each country has its own visa rules for  Au pair.  Most countries has different age limits for an Au pair visa.  Most countries does not allow married Au pairs or Au pairs with children. You need to first check if citizens of your country are allowed to Au pair in that destination country.  Sending messages to families in all countries will not help. Focus on only the countries where you can Au pair with your country passport.          
           </p>
        </mat-card-content>  
      </mat-card>
    </div>


    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Prepare for Interview</mat-card-title>
        </mat-card-header>      
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <p class="MB-4">
                All the above steps have no value if you do not perform well at  interview. A 30-minute interview could be the thing that could change your lifeA request for an interview can come from a family or agency anytime. So be well prepared to face such a situation. Many young Au pairs may not have had an interview before in their life. It could also be good if any of your friends or family could do a mock interview for you. Be honest to your replies.                </p>
                <p class="MB-4">
                  In general a family interviews 3 to 5 candidates before selecting their Au pair. Sometimes the children of host family can also come during the interview.  Its important that you talk to them and try to make a connection. This is something a family values and family may ask the opinion of the kids.  Some tips of what you can expect in an interview can be found here                  
                </p>
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/interview2.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>


    
   
    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-content>  
          <br>
         
          <p>Best of Luck in your adventure!
          </p>
            <br>
        </mat-card-content>  
      </mat-card>
    </div>
  </div>
</div>
