<div class="auth">
  <div class="container">
    <div class="row MT-4-half">
      <div class="col-md-7 PL-0">
        <div class="row">
          <div class="col-md-8 PL-0">
            <div class="auth__body">
              <form
                [formGroup]="forgotPasswordForm"
                (submit)="onForgotPasswordFormSubmit(forgotPasswordForm)"
              >
                <h4>{{ "FORGOT_PASSWORD_PAGE.TITLE" | translate }}</h4>

                <p>{{ "FORGOT_PASSWORD_PAGE.SUB_TITLE" | translate }}</p>

                <div class="row">
                  <div class="col-md-12 col-xs-12 PL-0 PR-0">
                    <div class="form-control">
                      <mat-form-field appearance="outline">
                        <mat-label>{{
                          "FORGOT_PASSWORD_PAGE.EMAIL" | translate
                        }}</mat-label>
                        <input
                          [placeholder]="
                            'FORGOT_PASSWORD_PAGE.ENTER_EMAIL' | translate
                          "
                          matInput
                          type="text"
                          formControlName="email"
                          autocomplete="off"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-12 col-xs-12 PL-0 PR-0">
                    <a (click)="onBack()" class="primary-link">
                      {{ "FORGOT_PASSWORD_PAGE.LOGIN_LINK" | translate }}
                    </a>
                  </div>

                  <div class="col-md-12 PL-0 PR-0 MT-2-half">
                    <!-- (click)="onCompleteRegistration()" -->
                    <button
                      type="submit"
                      class="secondary-btn width-100 btn-height"
                      mat-flat-button
                      color="primary"
                    >
                      {{ "FORGOT_PASSWORD_PAGE.SUBMIT_BTN" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 text-right PR-0">
        <app-auth-right-part></app-auth-right-part>
      </div>
    </div>
  </div>
</div>
