@import "../../../../../../assets/scss/abstracts/abstracts";

.auth {
  img {
    width: 100%;
  }

  &__body {
    margin-top: 20rem;

    @include respond("phone"){
      margin-top: 2rem;
    }
  }
}

@media(max-width:767px) {
  .col-md-5 {
    display: none;
  }

  .col-md-7,
  .col-md-8 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    .row {
      justify-content: center;
      align-items: flex-end;
    }
  }

  .col-md-7,
  .col-md-5 {
    width: 50%;
  }
}