@media (max-width: 767px) {
  .edit-profile {
    &__flex {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .other-images-row {
    &__box {
      img {
        width: 12rem;
      }
    }
  }
}
.d-inline-block {
  display: inline-block;
  color: #ff4b91;
}
.circle-sm {
  background: rgba(255, 75, 145, 0.1);
  font-size: 1rem;
  color: #ff4b91;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  padding: 5px;
  .material-icons {
    font-size: 18px;
  }
}
.float-right {
  float: right;
}
.other-images-row img,
.edit-profile__left img {
  object-fit: cover;
}
.edit-profile-upload {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.edit-profile-upload-multiple {
  display: flex;
  justify-content: normal;
  gap: 120px;
  align-items: baseline;
}
.default-photos {
  display: flex;
  img {
    margin-right: 5px;
  }
}
.btn-primary {
  width: auto !important;
  height: auto !important;
  border-radius: 35px !important;
  color: #ff4b91 !important;
  padding-left: 0px !important;
  padding-right: 15px !important;
  box-shadow: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
  float: none;
  .mat-icon {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 3px;
    height: auto;
    width: auto;
  }
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}
