@import "../../../../../../assets/scss/abstracts/abstracts";

.auth {
  img {
    width: 100%;
  }

  &__body {
    margin-top: 20rem;

    @include respond("phone"){
      margin-top: 2rem;
    }
  }
}
