<div class="article-details">
  <div class="article-details__img">
    <img src="assets/images/article_detail.png" />
  </div>

  <div class="container">
    <h2>{{ "ARTICLE_PAGE.TITLE" | translate }}</h2>

    <small>{{ "ARTICLE_PAGE.BY_AUPAIR" | translate }}</small>

    <p class="MB-4">
      {{ "ARTICLE_PAGE.PARAGRAPH_ONE" | translate }}
    </p>

    <h3>{{ "ARTICLE_PAGE.SUB_TITLE_ONE" | translate }}</h3>

    <p class="MB-4">
      {{ "ARTICLE_PAGE.PARAGRAPH_TWO" | translate }}
    </p>

    <h3>{{ "ARTICLE_PAGE.SUB_TITLE_TWO" | translate }}</h3>

    <p>
      {{ "ARTICLE_PAGE.PARAGRAPH_THREE" | translate }}
    </p>

    <ul>
      <li>{{ "ARTICLE_PAGE.VERIFY" | translate }}</li>

      <li>{{ "ARTICLE_PAGE.TRUST_FACTOR" | translate }}</li>

      <li>{{ "ARTICLE_PAGE.REPUTED_AGENCY" | translate }}</li>
    </ul>
  </div>
</div>
