<div class="article-details">
  <div class="article-details__img">
  </div>
  <div class="container">
    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title><h2>How to conduct an interview with Au pair</h2></mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

     
    <div class="cards-container">
      <mat-card>
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <br>          
              <p class="MB-4">
                Hiring an au pair is a significant decision for families seeking reliable
                childcare and cultural enrichment for their children. Conducting  a proper interview is  
                an important step in this process. Many of the future issues can be avoided if host family can understand
                the Au pair and vice versa.
              </p>
              <p class="MB-4">
              Interview should be on a video call and Everyone from host family should be in the call. The selected Au pair should be acceptable to all family member including the kids.
               If not it may lead to issues later.
              </p>
              <p class="MB-4">
                Au pairs are in general nervous to have an interview. Make them feel comfortable.
              </p>
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/interview1.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>
    
    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Personal Questions</mat-card-title>
        </mat-card-header>      
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <ul>
                <li>Tell us about yourelf and your family</li>
                <li>Why would you like to be an au pair?</li>
                <li>Do you have any health issues?</li>
                <li>Do you have any allergies? Are you vegetarian?</li>
                <li>Do you have a boyfriend/girlfriend?</li>
                <li>What are your strengths and weaknesses?
                <li>Do you smoke?  </li>
                <li>Is there anything important we need to know about you? </li>
                </ul> 
                <br>
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/interview3.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>
    
    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>Childcare Experience</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <ul>
            <li>Tell us about your childcare experience</li>
            <li>How old were the children you were taking care of?</li>
            <li>Can you provide references for your childcare experience?</li>
            <li>Have you been an au pair before?
            </ul> 
            <br>
        </mat-card-content>  
      </mat-card>
    </div>
    
    
    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>About work</mat-card-title>
        </mat-card-header>      
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <ul>
                <li>How would you handle situations in which the children is not listening to your instructions?</li>
                <li>Which kinds of meals could you prepare for our children?</li>
                <li>Can you drive and have a valid driving licence?</li>
                <li>Can you help the children with their homework?</li>
                <li>How do you help a child who is angry? Sad?</li>
                <li>Are you comfortable changing a diaper?</li>
                <li>Would you be willing to accompany us on our holiday?</li>
                <li>Do you like animals? Can you walk/feed our dog?</li>
                <li>What do you plan to do on your free time as Au pair?</li>
                </ul> 
                <br>
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/interview2.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>


    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>About recruting</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <ul>
            <li>Do you have all documents needed for Au pair application?</li>
            <li>When are you able to start as Au pair?</li>
            <li>Are you able to pay for your flight?</li>
            </ul> 
            <br>
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>Things to discuss</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <h4> <b>Discuss work</b></h4>
          <p>Discuss, working hours, tasks to be done by Au  pair and draw up  a weekly schedule</p>
           <br>
         <h4> <b>Working hours</b></h4>
         <p>In most countries  Au pair can work only 30 hours a week. But few host families want  Au pair to work 40-50 hours and do hard house hold tasks. This can cause issues later.  </p>
         <br>
         <h4> <b>Show the house or room</b></h4>
         <p>Provide video or photo of Au pair room or show house during the video call.  A good house can motivate Au pair to join you.</p>
         <br>
         <h4> <b>Pocket Money</b></h4>
         <p>Agree on the pocket money. It should be in accordance with the  Au pair pay rule in your country. Sometimes Au pairs get extra for mobile phone, travel costs etc</p>
         <br>
         <h4> <b>House Rules</b></h4>
         <p>Every family has own house rules. That need to be discussed in advance. In some families, Au pair has the keys and can go out any times and in some families they expect  Au pair to not go out at night. In some Families
          Au pair can invite friends to home and some families not.</p>
          <br>
        </mat-card-content>  
      </mat-card>
    </div>
    
   
    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-content>  
          <br>
          <p>From  our expereince we have noted that not all replies were answered honestly. If family ask do you smoke? the reply will most probably be a 'No' even if they smoke. Its because a 'Yes' reply could  lower the chance of getting an Au pair visa.
          </p>
          <br>
          <p>Encourage Au pair to ask their questions and make the  conversation  more comfortable</p>
          <br>
          <p>Best of Luck with selecting an Au pair!!
          </p>
            <br>
        </mat-card-content>  
      </mat-card>
    </div>
  </div>
</div>
