<div class="search-filter">
  <form
    [formGroup]="aupairFilterForm"
    (submit)="onAupairFilterFormSubmit(aupairFilterForm)"
  >
    <div class="search-row">
      <div>
        <div class="search-width">
          <div class="form-control form-control--filter">
            <mat-form-field appearance="outline">
              <mat-label>{{
                "AUPAIR_SEARCH_PAGE.PRESENT_COUNTRY" | translate
              }}</mat-label>
              <mat-select
                placeholder="Select"
                multiple
                formControlName="presentCountry"
              >
                <mat-optgroup
                  *ngFor="let countryGroup of continentAndCountries"
                  [label]="countryGroup.title"
                >
                  <mat-option
                    *ngFor="let item of countryGroup.items"
                    [value]="item.value"
                  >
                    {{ item.text }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="search-width">
          <div class="form-control form-control--filter">
            <mat-form-field appearance="outline">
              <mat-label>{{
                "AUPAIR_SEARCH_PAGE.CITIZEN" | translate
              }}</mat-label>
             <mat-select placeholder="Select" formControlName="citizenOf" multiple>
              <mat-optgroup
                *ngFor="let countryGroup of countries"
                [label]="countryGroup.title">
                <mat-option
                  *ngFor="let item of countryGroup.items"
                  [value]="item.value">
                  {{ item.text }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="search-width-age mr">
          <div class="form-control">
            <mat-form-field appearance="outline">
              <mat-label>{{
                "AUPAIR_SEARCH_PAGE.AGE_FROM" | translate
              }}</mat-label>
              <mat-select placeholder="Select" formControlName="ageFrom">
                <mat-option *ngFor="let age of fromAgeList" [value]="age">
                  {{ age }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="search-width-age">
          <div class="form-control">
            <mat-form-field appearance="outline">
              <mat-label>{{
                "AUPAIR_SEARCH_PAGE.AGE_TO" | translate
              }}</mat-label>
              <mat-select placeholder="Select" formControlName="ageTo">
                <mat-option *ngFor="let age of toAgeList" [value]="age">
                  {{ age }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="search-width">
          <div class="form-control form-control--datepicker">
            <mat-form-field appearance="outline">
              <mat-label>{{
                "AUPAIR_SEARCH_PAGE.MONTH_AND_YEAR" | translate
              }}</mat-label>
              <input
                [placeholder]="'AUPAIR_SEARCH_PAGE.AVAILABLE_FROM' | translate"
                formControlName="availableFrom"
                matInput
                [min]="minDate"
                [matDatepicker]="availableFromPicker"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="availableFromPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #availableFromPicker
                startView="multi-year"
                (monthSelected)="setMonthAndYear($event, availableFromPicker)"
                panelClass="example-month-picker"
              >
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="display-inline">
          <button
            class="secondary-btn secondary-btn--height MR-1"
            mat-flat-button
            color="primary"
            type="submit"
          >
            {{ "AUPAIR_SEARCH_PAGE.SEARCH_BTN" | translate }}
          </button>

          <button
            *ngIf="isFilterApplied"
            class="primary-btn"
            (click)="onClickClearAll()"
            mat-stroked-button
          >
            {{ "AUPAIR_SEARCH_PAGE.RESET_BTN" | translate }}
          </button>
        </div>
      </div>
      <div>
        <div class="fvrt-btn">
          <button
            type="button"
            [ngClass]="{ active: isFavoriteFilterApplied }"
            mat-stroked-button
            class="strok-btn"
            (click)="onClickFavoriteAupairFilter()"
          >
            <mat-icon>favorite_outline</mat-icon
            >{{ "AUPAIR_SEARCH_PAGE.FAVORITE_BTN" | translate }}
          </button>

          <!-- <button mat-stroked-button class="strok-btn fav-btn">
            <mat-icon>favorite_outline</mat-icon>Favorite
          </button> -->
        </div>
      </div>
    </div>

    <div class="MT-0">
      <div class="row">
        <div class="col-md-3 PL-0 MB-2" *ngFor="let aupair of aupairList">
          <app-aupair-user-box
            [user]="aupair"
            (removeFavoriteForParent)="onHandleRemoveFavorite($event)"
            (itemClick)="onClickUserItem($event)"
          ></app-aupair-user-box>
        </div>
      </div>
    </div>

    <div
      *ngIf="!isSearchLoading && aupairList.length === 0"
      class="no-data-search"
    >
      <h5>{{ "AUPAIR_SEARCH_PAGE.ZERO_RESULT" | translate }}</h5>
      <div class="no-data-search__height">
        <div class="no-data-search__flex">
          <img src="assets/images/no-data-search.png" />
          <b>{{ "AUPAIR_SEARCH_PAGE.SORRY" | translate }}</b>
          <p>{{ "AUPAIR_SEARCH_PAGE.CHANGE_CONDITION" | translate }}</p>
        </div>
      </div>
    </div>
  </form>
</div>
