<div class="article-details">
  <div class="article-details__img">
  </div>

  <div class="container">
    <div class="container">
      <h2></h2>
      <div class="cards-container">
        <mat-card [@fadeIn]>
          <mat-card-header>
            <mat-card-title><h2>Hello Families</h2></mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
  
      <div class="cards-container">
        <mat-card [@fadeIn]>
          
          <mat-card-content>  
            <p>Finding a suitable Au pairs or care providers has been a challenge for families. There are facebook groups but finding an Au pair to your criteria is a challenge.</p>  <p> There are websites to find Au pairs but they also comes with higher subscription fees. Families are already tired with mobile subscriptions, electricity subscriptions and on top of that an Au pair website subscription </p>
        
            <p> Normally websites offers Free registration.  But when you want to contact Au pair they ask for payment. The offer of Free registration is useless if you cannot contact Au pair. </p>
         
            <div class="center-horizontal">
            <h3>Websites Comparison</h3>

            <table class="mat-elevation-z8">
              <thead>
                   <tr [@fadeInAnimation]>
                       <th></th>
                       <th>Other Au pair Websites</th>
                       <th>NannyAupair.com</th>
                     
                   </tr>
                 </thead>
                 <tbody>
                   <tr [@bounce]>
                       <th>Registration</th>
                       <td class="green-background">Free</td>
                       <td class="green-background">Free</td>
  
                   </tr>
                   <tr [@bounce]>
                       <th>Share contact</th>
                       <td class="red-text">Paid</td>
                       <td class="green-background">Free</td>
  
                   </tr>
                   <tr [@bounce]>
                       <th>Chat</th>
                       <td class="red-text">Paid</td>
                       <td class="green-background">Free</td>
  
                   </tr>
                   <tr  [@bounce]>
                       <th>Video Chat</th>
                       <td class="red-text">Impossible</td>
                       <td class="green-background">Free</td>
  
                   </tr>
                  
                  </tbody>
                </table>
            </div>
           <p> NannyAupair.com offers free registration, <span class="attention-grabber"> Free chat and free to share contacts. </span>  </p>
          
           <p> We  <span class="attention-grabber">do not collect Address, Phone number and Birth date.</span>  We believe this are confidential information and is not needed for Au pair search. </p>
           
            <p>Our plan is to offer this as a Free website for first few years. Later we may charge a small subsciption fee or run with advertisement income. </p>
         
             <p>We are registered as a company in Netherlands and  follow GDPR rules. We mainly do IT projects and Au pair website is not our income source. </p>
           
             <p> We have been active as advisors and event organiser for Au pair for the past 10 years in Netherlands. This was all done for free. Now we  want  to serve Au pairs and Host families in a better way and launched this website. </p>

             
              <p class="center-horizontal">
                Click below if you like to join
              </p>
             
                <p class="center-horizontal">
                <button class="secondary-btn" mat-flat-button color="primary" onclick="event.preventDefault(); window.location.href='/auth/register'">
                 Register & Chat for free
                </button>
              </p>
          </mat-card-content>  
        </mat-card>
      </div>
  </div>
</div>
