@import "../../../../../../assets/scss/abstracts/abstracts";

.max-image-profile {
  border-radius: 1rem;
  height: 18rem;
  width: 30rem;

  @include respond("phone"){
    height: 24rem;
  }
}

.mr-2 {
  margin-right: 4px;
}

.view-profile {
  &__header {
    .row{
      margin-right: -15px;
      margin-left: -15px;
    }
    button {
      background: rgba($black-color, 0.1);
      border: transparent;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;

      &:focus {
        outline: none;
      }

      .mat-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: bottom;
        font-size: 1.8rem !important;
      }
    }

    .line {
      border-left: 1px solid rgba($black-color, 0.1);
      vertical-align: text-bottom;
      display: inline-block;
      height: 3rem;
      margin: 0 3.2rem;
    }

    .chat-bg {
      background: rgba($french_rose, 0.1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;

      span {
        color: $french_rose;
        font-size: 1.6rem;
      }
    }
  }
}



.menu-text {
  color: rgba($black-color, 0.5);
  font-size: 1.4rem;
  line-height: 1.7rem;

}

.menu-text-red {
  color: $electric_red !important;
}
.menu-text-green {
  color: green !important;
}
@media(max-width:600px) {
  .view-profile {
    &__flex {
      flex-wrap: wrap;
      margin-bottom: 0rem;
    }

    &__details {
      width: 50%;
      margin-bottom: 1.6rem;
    }

    &__content {
      ul {
        li {
          width: 100%;
        }
      }
    }

    &__header {
      .row {
        position: relative;

        div {

          h3,
          p {
            margin-bottom: 1.4rem;
          }

          a {
            position: relative;
            top: 0;
            right: 0.4rem;
          }

          .btn {
            position: absolute;
            top: 0rem;
            right: 11rem;

            &__next {
              position: absolute;
              top: 0rem;
              right: 6rem;

            }

            &__close {
              position: absolute;
              top: 6px;
              right: 2rem;
            }

            &__edit {
              position: absolute;
              top: -16rem;
              right: 0rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .view-profile {
    &__content {
      ul {
        li {
          width: 40%;
        }
      }
    }

    &__header {
      .row {
        position: relative;

        div {

          a {
            position: absolute;
            top: -8.8rem;
            right: 0.4rem;
          }

          .btn {
            position: absolute;
            top: -17rem;
            right: 11rem;

            &__next {
              position: absolute;
              top: -17rem;
              right: 6rem;

            }

            &__close {
              position: absolute;
              top: -16.3rem !important;
              right: 0rem;
            }

            &__edit {
              position: absolute;
              top: -15rem;
              right: 0rem;
            }
          }
        }
      }
    }
  }

  .other-img {
    width: 33.33%;

    .max-image-profile {
      width: 24rem !important;
    }
  }
}

.MT-2-half{
  margin-bottom: 1rem;
}
.float-right{
  float: right;
}
.grey-color{
  color: black;
  font-weight: 600;
}
.border-chip{
  margin-top: 5px;
  border-radius: 5px;
    border: 1px solid #ddd;
    width: auto;
    margin-bottom: 10px;
    .chip-left{
      border-radius: 5px 0 0 5px;
      padding: 10px;
      font-size: 2.4rem;
      margin-right: 5px;
      background: rgba(255, 75, 145, 0.1);
      color: #ff4b91;
    }
}
.text-white{
  color: #fff;
}
.fs-16{
  font-size: 1.6rem;
}
.fs-24{
  font-size: 2.4rem;
}
.info-details{
.row{
  margin-right: -5px;
  margin-left: -5px;
  .col-md-3{
    padding-left: 5px;
    padding-right: 5px;
  }
}
ul{
  li{
    list-style: none;
    display: inline-block;
    padding-right: 3px;
    position: relative;
    &::after{
      content: ',';
    }
    
  }
}
}
.img-border-area{
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  .row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .img-fit{
    height: 215px;
    overflow: hidden;
    border-radius: 6px;
    @media(max-width: 767px) {
      margin-bottom: 10px;
      padding-left: 15px !important;
   
    }
  }
  .img-fluid{
    max-width: 100%;
    object-fit: cover;
    height: 215px;
    margin: 0 auto;
    display: block;
    width: 100%;
    border-radius: 6px;
  }
  .border-top{
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  .text-bottom{
    vertical-align: sub;
  }
}
.btn-primary{
  width: auto !important;
    height: auto !important;
    border-radius: 35px !important;
    background: rgba(255, 75, 145, 0.1) !important;
    color: #ff4b91 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-shadow: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
  .mat-icon{
    margin-right: 5px;
  }
}
.view-profile__content {
  ul{
    li{
      display: inline-block;
    list-style-type: none;
    width: auto;
    border: 1px solid #ff4b91;
    border-radius: 5px;
    margin-right: 10px;
    padding: 6px;
    margin-bottom: 5px;
    margin-top: 5px;
    p{
      margin-bottom: 0px;
      color: #ff4b91;
      font-weight: 600;
      span{
        margin-right: 0.3rem;
      }
    }
    }
  }
}

.next-preview {
  display: flex;
}
.postion-relative {
  position: relative;
}
.upper-side-section {
  position: absolute;
  top: -20px;
  display: flex;
  .btn-primary {
    background-color: rgba(0, 0, 0, 0.1) !important;
  color: black !important;
  }
}
.upper-side-section-share {
  position: absolute;
  top: -20px;
  right: 10px;
}

.btn__close{
  margin-top: -20px;
}