<div class="article-details">
  <div class="article-details__img">
  </div>

  <div class="container">
    
    <mat-tab-group animationDuration="200ms">
      <mat-tab label="Terms and Conditions">
    <p class="MB-4">
    <small>Dated 15th Apr, 2024</small>
    </p>
    <p class="MB-4">
      These Terms of Service apply to the use of the Service as described below.
       We advise you to carefully read these Terms of Service so that you are aware 
       of your rights and obligations when making use of the services at NannyAupair.com.
    </p>

    <h3>Introduction and  Terms</h3>

    <p class="MB-2">
      NannyAupair.com is an online matching website that helps to connect Au pairs or Care providers with families and vice versa. 
      We only provide matching service  and do not do mediation service  or back ground checks.</p>
      <p class="MB-2">User: A person who created the profile and make use of the services. This can include families, Au pairs, care providers </p>
      <p class="MB-2">Profile: This has the details of  the user that the user provided to the website </p>
      <p class="MB-2">NannyAupair.com reserves the right to change or add Terms of service
        By registering with NannyAupair.com user accepts all the terms and conditions of this website.
        NannyAupair.com has the right to modify these terms and conditions intermediately. The modified provisions enter into effect on the date indicated in the modification decision
        The user will be blocked without any notice for violation of the Terms and Conditions 

    </p>

    <h3>Our Services</h3>

    <p class="MB-2">
      We offer Users the possibility to create a profile, which can be seen by all users or visitors to the website. The service on the website facilitates families to find help for childcare or light house hold needs from Au pairs or Care givers.
The following services are provided free of charge</p>
   <ol class="MB-4">
   <li>	Registration </li>
   <li>	Search profiles based on criteria </li>
   <li>	Chat with users and share contact details </li>
</ol>
<p class="MB-2">
NannyAupair.com has the right to charge some fees in future
In general we aims to provide free or low cost services.

    </p>
<h3>Duties of User</h3>
<p class="MB-2">Users should use Real names in Profiles. Providing nick names and wrong names is not authorized by NannyAupair.com</p>

  <p class="MB-2">Users are personally responsible for ensuring that their Login Details remain secret. It is not permitted to pass your Login Details to third parties. You are responsible for all use made of the Service via your Login Details.
  Au pair  or care giver should be atleast 18 years of age. If you are below 18, you are obliged to  take  permission from parents or guardians
  </p>
<h3>Contents</h3>
<p class="MB-2">The user is responsible for all the contents put in the website by the user.
  Users can be banned for posting or sending defamatory, obscene, illegal, pornographic material
  Users can be banned for using this website other than that of childcare or house hold help activities
  Users can be banned for creating profile in  the  website more than once</p>
  <p class="MB-2">NannyAupair.com has the right to request documents to check if the information provided by the user in the website is correct. If the user refuses to provide information or the information is  incorrect  NannyAupair.com has the right to block such users
  The User is also solely responsible for the conversations held via the messaging system with others. 
   Entering contact data, links or referring to other websites in fields or texts, which are not expressly intended for this purpose, is not permitted</p>
   <p class="MB-2">We do not guarantee that all information in articles provided in this website NannyAupair.com is fully correct.
  Any advice posted on the website is intended for informational purposes only. It is the duty of the user to check and verify the facts
  </p>
  <h3>Access to service & availability</h3>
  <p class="MB-2">NannyAupair.com retains the right at all times, without notice and without being liable in any way to you to, make changes to the Website and/or Service.</p>
    <p class="MB-2">Incase if there is Website failure or server failure the users or external parties cannot claim for damages or loss compensation
    NannyAupair.com offers no guarantees, commitments, or indemnities with regard to the quality, security, legitimacy, integrity, or correctness of the Website and the Service
    
    We are a small company and if any issues happen we have the right to fully stop the website and all its services 
    
    </p>
  <h3>Service Usage</h3>
  <p class="MB-2">We do not provide any mediation  services between family and au pair or  care providers. </p>
    <p class="MB-2">  You are required to make a selection yourself, to enter into discussions with candidates, and to make financial and non financial agreements on the basis of your own wishes and criteria. The selection of and the decision to trust the care of your child to an Au pair  or care giver, or to carry out childcare work for a family, lies entirely with you. 
     Users agree to bear all risks associated with the use of the website including but not limited to injury, illness, any form of harassment, including sexual abuse, amputation, disability, death, and all other risks associated with online or offline interactions with other users of the website or its services. </p>
     <p class="MB-2">NannyAupair.com is not obliged to verify the profiles of Users for any adverse effects on the rights of a third party.
    It is the responsibility of the Family and Au  pairs or care givers to have proper contracts. A government recognized agency is required in some countries and it’s the  responsibility of host family or Au pair to  contact agencies  and make  legal contract  through them.
    Au  pairs are in general not allowed to do other jobs. If Au pair do contact a family in this  website and do extra   job and if it result in penalties  or loss of visa, NannyAupair.com is not responsible for that. </p>
    <p class="MB-2">The users of the website are responsible for the payment of taxes if its applicable
     Registration is permitted only for the purposes of initiating an au pair relationship involving the person registering. Registration for other purposes like promoting services or products, dating etc is forbidden.
     Should a registration be made with NannyAupair.com for a purpose other than those permitted, the person registering will owe NannyAupair.com a contractual penalty amounting to EUR 5,000 euros for each case of registration. This contractual penalty is to be paid irrespective of any actual loss incurred</p>
     <p class="MB-2">NannyAupair.com has the right to  remove profile of applicants whose chances to find a Host Family are limited.
    </p>
    <h3>Liability</h3>
    <p>NannyAupair.com is in no way responsible for consequential loss, including pure financial loss, loss of turnover or profit, loss of data or immaterial damage connected with or occurring as a result of the Service.
      NannyAupair.com is not liable for actions not originating from NannyAupair.com or that take place between users outside the website or offline.
     NannyAupair.com will however not be liable if Profile data published on NannyAupair.com is copied and published elsewhere by a third party</p>
     
     <p class="MB-2">NannyAupair.com does not assume any liability or provide any guarantees that this information is complete, correct or accurate. Users must find out for themselves from the responsible authorities as to whether they are legally permitted to host an au pair or whether they are permitted to be placed as an au pair in a host family in the host country selected.
     NannyAupair.com are not liable  for  any online scams. </p>
     <p class="MB-2">NannyAupair.com is not responsible for any kind of loss or damage that may arise from fraud or scam attempts through the website NannyAupair.com. </p>
     
     <p class="MB-2">Dutch law is applicable to these Terms of Service and to usage of the Service in NannyAupair.com Website.
     </p>
    </mat-tab>
    <mat-tab label=""></mat-tab>

    <mat-tab label="Privacy Policy">
    <br>
      <p class="MB-4">
        NannyAupair.com gives Host Families and Au Pairs to find a suitable match. The Au pair live with the host family.So it is important that there should be information of both the parties to find a right match. Thisis why we have to collect more information from them.
      </p>

      <h3>Personal data</h3>
      <p class="MB-4">
        To create your profile, users provide some personal data. This includes Name, personal information, contact details and personal information. Most of the data except Last name and contact information visible to  logged in users. Some of the data is visible to visitors of this website. The email address, Facebook url and telephone numbers are only visible to the NannyAupair.com employees. During registration we collect the IP address of the computer. Such information help  us to identify fraudulent users.      </p>

        <h3>Chat feature</h3>
        <p class="MB-4">
          The logged in users have the options to chat in the  NannyAupair.com website. The chat messages maybe partially monitored by an employee or an AI system. This is to make sure users are not using the functionality for unintended purposes.  
         
          <h3>Microsoft Hosting</h3>
          <p class="MB-4">
            All the data  and website is hosted on highly secure Microsoft servers in Europe
            Please refer to the privacy information of Microsoft Azure:
            https://azure.microsoft.com/en-us/explore/trusted-cloud/privacy
                
            <h3>Google Analytics</h3>
            <p class="MB-4">
              Google Analytics helps us to analyze the usage pattern of this website. This   helps to understand the number of user visits,  which pages were visited, the countries from  which it was visited etc. Google analytics data is not linked to the profile information on the website.      
            

    </mat-tab>
  </mat-tab-group>
  </div>

</div>
