<div class="article-details">
  <div class="article-details__img">
  </div>

  <div class="container">
    <h2></h2>
    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title><h2>How Au pair can avoids scams</h2></mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>1. Asking for Money</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p>For most countries Au pairs do not have to pay money. But in some countries Au pairs has to pay. 
       So first you need to research on if you have to pay anything for that particular country.  In Netherlands
       an agency can collect a maximum of 34 Euros from an Au pair. In some countries Au pair need to pay for flight 
       ticket. In that case  do not pay money instead buy a refundable ticket by your self. For USA Au pair has to pay 1000-2000 dollar to agency. Need to make sure its a real agency </p>     
        </mat-card-content>  
      </mat-card>
    </div>
 
    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>2. UK & USA Au pair Visa Scams</mat-card-title>
        </mat-card-header>      
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <p>Au pairs get lot of mails to apply for UK visa. They even give a Fake UK Au pair application form to collect 
                money from Au pair. <span class="highlight"> The UK does not have an Au pair Visa.</span> They have a Youth mobility visa which is applicable for 
                Australlia, Canada, Iceland, Hong Kong, Japan South Korea and Taiwan. So if someone  send a UK Visa application 
                form and ask to pay money it will be a scam. </p>              
                <p>In USA only a recognised agency can apply for a J1 Visa. You have to check the website of the agency and google search the agency name </p>           
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/fake_uk_visa.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>
    
    <div class="cards-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>3. Identify Fake agencies from Email</mat-card-title>
        </mat-card-header>      
        <div class="curved-image-container">
          <div class="text-content">
            <mat-card-content>
              <p> There are Fake Au pair agencies asking for payment. <span class="highlight">Scammers can also act as employees of a real agency.</span> There are some ways to identify if they are fake or not  </p>
        <ol>
         <li>If an agency send you an email from gmail account it could be  a fake. <span class="highlight"> A real agency will never use gmail account.</span> A real agency will have an email account 
          with @agencyname.com and not @gmail.com   </li>  
          <li>If you get an email from an email adress  that  has agency  name for  example @agencyname.com then there should also be a 
          website with that name. If a website do not exist with that name it could be a fake. If you find the website then search for that website name 
          in google search and try to find if it has more search result and see if you can find reviews.
          <p>For example if you get an email from  info@nannyaupair.com then you can copy nannyaupair.com and check if such a website exist.</p>
          <p>On the right side  image  you can see an email that an Au pair recently got from  a  scammer. Scammer acts as an host mother and asking to 
            send email to application@ukvisas-immigration.com to get a visa. 
            There is no website with name ukvisas-immigration.com. Even  if it exist you can search about it in google. You can also google  search to find real website of visa office.
          </p>
          <p><span class="highlight"> Technically the last part of the email and name of website are same.</span>
            When you reply also make  sure you reply back to agency email and  not to  gmail or yahoo email.</p></li>
        </ol>     
            </mat-card-content>
          </div>
          <div class="curved-image-container">
            <img src="assets/images/fake_email.png" alt="Curved Edge Image" class="curved-image">
          </div>
        </div>
      </mat-card>     
    </div>


    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>4. Insist on a Video call</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
        <p> <span class="highlight">Video call is the easiest  way to find if its a real  family or not. </span> Ask to have video  call  with full family  </p>
        <p>If a Family refuse to have a video call, then  its  most probably a scammer. A real family will always have a video call  before  inviting  someone to live at their home. </p>          
        </mat-card-content>  
      </mat-card>
    </div>

    

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>5. Fake Money transfers</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p> Most of the scammers ask to send money using <span class="highlight">MoneyGram, Western Union etc</span>. If they say they live in Europe and ask to 
          send money to an African Bank account it could be a scam.
         If you  want  to check  for valid European bank account you can use this website - www.iban.org .  But they only allow to check few numbers only. </p>          
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>6. Where are scammers based</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p> Most of the scammers are  based in African countries though they claim to live in Europe.
      If they send mail to 25 girls atleast one will pay money. They can make a lot of  money if  they send such email to plenty of girls.
      Thats how the scammers live. </p>  
      <p> <span class="highlight">Scammers can act as a host family or ex Au pair or as agency.</span> After Au pair  pays the money the scammers just  disappear or block the Au pair</p>         
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>7. Partially Fake local agencies</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p> In some Asian and African countries there are local agencies that help to find Au pair jobs abroad.
      They have facebook pages which shows the Au pairs and that they have send abroad. The thing is they collect
      money from everyone who register with them but only some get interview chance and only few are selected.</p>
      <p>We got informed by an Indonesian girl that she has to  pay around 4 months of her  salary to register  at a local agency
      in Indonesia and she did not get any interview call. She even quit her job to be a Au pair in Europe. That agency have placed few Au pairs in Europe and with their pictures
      on social media, the agency can collect money from lot of poor girls.</p>           
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title><h2>Avoid Facebook scams</h2></mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>


    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>8. Do not trust Empty Facebook Profiles</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <ol>
            <li> Do not trust Facebook profiles that <span class="highlight"> does not have much information </span></li>
            <li> Do not trust a <span class="highlight">recently created Facebook profile</span>. A real profile could have been created  many years ago</li>
            <li> Do not trust a Facebook profile that <span class="highlight">does not have much friends or Likes or comments</span></li>
          </ol>
          <div class="curved-image-container">
            <img src="assets/images/scam4.png" alt="Curved Edge Image" class="medium-image">
          </div>
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>9. Identify Fake Facebook profiles</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <ol>
            <li> <span class="highlight"> Check Friend List</span>If a family claims to be European or from US and all their friends in the list are from Africa or Asia there is a good chance that this account was created for scamming  people. 
                A European person should have atleast some  local friends.</li>
                <li> <span class="highlight">Check Comments & Likes</span>If a family claims to be European or from US and the like and comments on their post are only from Africa or Asia it could be a Fake profile.</li>
           </ol>   
           <div class="curved-image-container">
            <img src="assets/images/scam5.png" alt="Curved Edge Image" class="medium-image">
          </div> 
          <p>This is a Fake profile in which family is pretending to be from UK. All the likes and comments are from Asians. A real UK family will have most likes and comments from people in UK.
            UK dont even have a Au pair visa but still lot of Au pairs go behind this.  
          </p>
        </mat-card-content>  
      </mat-card>
    </div>


    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>10. Identify Fake Posts</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <ol>
            <li> In General most US Families that look for Au pairs in European groups are Fake.</li>

                <li>If a family <span class="highlight">turns off commenting </span>on a post it could be a scammer. Because he does not want anyone else to comment that it is a scam.</li>
           </ol>   
           <div class="curved-image-container">
            <img src="assets/images/scam3.png" alt="Curved Edge Image" class="medium-image">
          </div> 
          <p>This Fake host family Turned off commenting on post. In general <span class="highlight">USA job offer </span> in European groups is always a scam</p>
        </mat-card-content>  
      </mat-card>
    </div>

    <div class="cards-container">
      <mat-card [@fadeIn]>
        <mat-card-header>
          <mat-card-title>11. Identify Lover Boys and Human traffikers</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <ol>
            <li> There are Guys looking for relationships in Au pair groups and Au pair websites</li>

                <li>In general they are the part of <span class="highlight">human traffiking gangs</span>. They use girls for many illegal activities. Better dont reply to  them  and <span class="highlight"> report them</span></li>
           </ol>   
           
        </mat-card-content>  
      </mat-card>
    </div>


  </div>
</div>
