@import "../../../../../../assets/scss/abstracts/abstracts";

.article-details {
  &__img {
    width: 100%;
    margin-bottom: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }

  small {
    color: rgba($black-color, 0.5);
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  ol {
    margin-top: 1.5rem;
  
    li {
      font-size: 1.6rem;
      font-weight: 500;
      margin-left: 1.5rem;
      margin-bottom: 10px;

    }
  }

  .highlight {
    background-color: #FFB6C1; /* Yellow background */
    color: #333; /* Dark text color */
    font-weight: bold;
    font-size: 1em; /* Larger font size */
    padding: 2px 2px; /* Add some padding for better visibility */
    border-radius: 6px; /* Rounded corners */
    display: inline-block; /* Ensures the background only covers the text */
  }  


.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  justify-content: center; /* Centers cards in the container */
  gap: 20px; /* Space between cards */
  padding: 20px; /* Padding around the entire container */
}
mat-card {
  width: 90%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff6f9; /* Consider a light neutral color */
  flex: 0 1 calc(33.333% - 20px); /* Three cards per row with spacing */

}

/* Hover effect */
mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Card header with a background image */
mat-card-header {
  background-color:   #FF69B4; /*#DD69B4;  A deep purple for contrast */
  color: white;
  padding: 16px;
}

/* Title and subtitle */
mat-card-subtitle {
  color: #fff;
  margin-top: 8px; 
}
mat-card-title {
  font-weight: bold;
  font-size: 20px; /* Adjust the font size as needed */
  color: #fff; /* Change the color if needed */
}

/* Card content */
mat-card-content {
  padding: 16px;
  color: #333; /* Dark text for readability */
  font-size: 14px;
}
mat-card-content mat-icon {
  vertical-align: middle;
  margin-right: 8px;
  /* Adjust color and size as needed */
  color: #FF91A4; /* Example color */
  font-size: 20px; /* Example size */
}

.curved-image-container {
  display: flex;
}

.text-content {
  flex: 1; /* Take up remaining space */
}

.curved-image {
  width: 300px; /* Set the desired width for the image */
  height: auto;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.medium-image {
  width: 800px; /* Set the desired width for the image */
  height: auto;
  border-radius: 12px;
  border-color: #FF69B4;
  border-width: 4px;
  border: 3px solid #FF69B4;

  padding: 0px;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .curved-image-container {
    flex-direction: column;  // Change to column layout on smaller screens
  }

  .curved-image {
    border-top-right-radius: 0;  // Remove border radius on smaller screens if needed
    border-bottom-right-radius: 0;
  }
  .medium-image {
    border-top-right-radius: 0;  // Remove border radius on smaller screens if needed
    border-bottom-right-radius: 0;
  }
}
}
