<h1 mat-dialog-title>
  {{ data.title }}
  <button mat-icon-button class="pink-close-button" [mat-dialog-close]="false" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<hr/>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" class="pink-button">{{ data.cancelButtonText }}</button>
  <button mat-button [mat-dialog-close]="true" class="pink-button" cdkFocusInitial>{{ data.confirmButtonText }}</button>
</div>
