.close-button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  
  .pink-button {
    color: #fff;
    background-color: #ff69b4; 
    margin-left: 8px; 
  }
  
  hr {
    border-top: 1px solid #ddd; 
    margin: -20px 0 20px 0; 
  }
  

  .mat-dialog-container {
    position: relative;
  }
  

  .mat-dialog-actions {
    justify-content: flex-end;
  }
  .pink-close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #ff69b4; 
    border: none; 
    background-color: transparent;
  }