.container{
    height: 331px;
    text-align: center;
    margin-top: 100px;
}
.verify_icon{
    color: #ff4b91;
    height: 50px;
    width: 50px;
    font-size: 38px;
    // float: ;
}
.verify_confirmation_msg{
    font-size: large;
    margin-bottom: 11px;
}